@font-face {
  font-family: "E1234";
  src: url("../fonts/E1234.ttf");
}

.clock { 
  border: 8px solid #333;
  box-shadow: inset -1px -1px 3px #fff;
  text-shadow: 1px 1px 10px red;
  margin: 10px;
  width: fit-content;
  padding-right: 30px;
  background: #000;
  font-size: 20pt;
  color: firebrick;
  font-family: 'E1234'; 
}